@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
    color: black !important;
}
.brand-logo,h2{
    font-family: 'Grand Hotel', cursive;
}
h2{
    margin:20px auto;
}
.btn{
    margin-top: 10px;
    margin-bottom: 20px;
}
.auth-card{
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}
.input-field input:focus {
    border-bottom: 1px solid #42a5f5 !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
  }
  .input-field input:focus {
    color: #42a5f5 !important;
  }