@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
a{
    color: black !important;
}
.brand-logo,h2{
    font-family: 'Grand Hotel', cursive;
}
h2{
    margin:20px auto;
}
.auth-card{
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}
.createPost-card{
  min-width: 400px;
  width: 45%;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}
  input:focus {
    border-bottom: 1px solid #42a5f5 !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
  }
  input:focus+label {
    color: #42a5f5 !important;
  }
  #profile-box{
      width: 55%;
      display: flex;
      justify-content: space-around;
  }
  #profile-info{
      display: flex;
  }
  .profile-image{
    min-width: 80px;
    width: 65%;
    border-radius: 50%;
  }
  .post-image{
    min-width: 150px;
    width: 32%;  
    margin: 5px;
  }
  #post-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-card{
      max-width: 500px;
      margin: 30px auto;
  }
.comments-container{
  margin-top: 20px;
}
.reset-pass-link{
  color:blue !important;
  text-decoration:underline;
}
.reset-pass-link:hover{
color: hotpink !important;
}
